header{
    border: 2px solid black;
    background-color: gray;
}
footer{
    border: 2px solid black;
    background-color: lightskyblue;
}
main{
    border: 2px solid black;
    background-color: lightgreen;
}
h1{
    border: 2px solid black;
    background-color: lightsalmon;
}